<footer>
    <ul>
        <li><i class="far fa-copyright"></i> 2019 David Jaimes.</li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/privacy">Privacy</a></li>
    </ul>
    <ul class="right">
        <li>Made with <a href="https://jekyllrb.com/">Jekyll</a> and hosted with <a href="https://gitlab.com">GitLab</a>.</li>
    </ul>
</footer>
