<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Personal website for David Jaimes of San Diego, California.">
  <title>{{ site.title }} {{ site.title-separator}} {{ site.name}}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" async>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" async>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" async>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito&display=swap" async>
  <link rel="stylesheet" href="/assets/css/styles.css" async>
  <link rel="shortcut icon" type="image/png" href="assets/images/favicon.ico"/>
</head>