<header>
  <section>
    <div>
      <div>
        <h2>Husband. Scientist. Trail Runner.</h2>
        <p>Creativity and imagination are great starting places, but hard-headed thinking and extreme attention to detail are essential to success.<br><br>Jet Propulsion Laboratory</p>
      </div>
    </div>
  </section>
</header>
