<main>
  <div class="list-of-icons">
    <h1>Learn New Code Everyday</h1>
    <p>Services and technologies I use now or have used in the past.</p>
    <p class="list-of-icons">
        {% for item in site.data.main %}
        <i class="{{ item.icon }}"></i>
        {% endfor %}
    </p>
  </div>
</main>
