<nav>
  <ul>
    <li><a href="/" title="Home Page"><i class="fab fa-superpowers fa-lg"></i></a></li>
    {% for item in site.data.nav %}
    <li><a href="{{ item.link }}">{{ item.name }}</a></li>
    {% endfor %}
    <li><a href="https://github.com/davidjaimes" title="View Source"><i class="fab fa-github-alt fa-lg"></i></a></li>
    <li><a href="#" title="Menu Dropdown"><i class="fab fa-sistrix fa-lg"></i></a></li>
  </ul>
</nav>
