footer {
  background-color: #f2f2f2;
  font-size: 10pt;
  display: flex;

  ul {
    margin: 0 auto 0 0;
    padding: 20px;
    display: flex;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #586069;
    line-height: 18px;

    li {
      display: list-item;
      margin-right: 16px;
    }
  }

  ul.right {
    margin: 0 0 0 auto;
    text-align: right;

    li {
      margin-right: 0px;
    }
  }

  a {
    color: #0070c9;
    text-decoration: none;

    &:hover {
        color: #0070c9;
        text-decoration: underline;
    }
  }
}
