header {
  background: #2b3137;

  section {
    background-image: url(../images/monogram.png);
    background-repeat: no-repeat;
    background-size: 1914px 618px;
    background-position: center;
    margin: 0px auto;
    height: 600px;

    div {
      height: 100%;
      max-width: 600px;
      display: table;
      margin: auto;
      text-align: center;

      div {
        font-family: 'Helvetica', sans-serif;
        color: #f2f2f2;
        padding: 0px 26px;
        display: table-cell;
        vertical-align: middle;

        h2 {
          font-size: 36px;
        }

        p {
          font-size: 22px;
          color: #b3b3b3;
        }
      }
    }
  }
}
