main {
  font-family: 'Helvetica', sans-serif;
  color: #24292e;

  div.list-of-icons {
    margin: auto;
    max-width: 900px;
    padding: 80px 26px;
    text-align: center;

    p {
      font-size: 20px;
      letter-spacing: 0px;
      color: #586069;
    }

    p.list-of-icons {
      font-size: 36px;
      letter-spacing: 8px;
    }
  }
}
