@media screen and (max-width: 600px) {
  footer {
    flex-direction: column-reverse;

    ul.right {
      margin: 0 auto;
      text-align: left;
    }

    ul {
      &:first-child {
        padding-top: 0px;
      }
    }

    ul {
      margin: 0 auto;

      li{
        &:nth-child(3) {
          margin-right: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  nav {
    ul {
      li {
        &:not(:first-child) {
          display: none;
        }

        &:first-child {
          display: block;
          float: left;
          width: fit-content;
          padding-left: 20px;
        }

        &:nth-child(7) {
          display: inline-block;
          text-align: center;
        }

        &:last-child {
          display: block;
          float: right;
          padding-right: 20px;
          width: fit-content;
        }
      }
    }
  }
}
