nav {
  background-color: #24292e;
  width: 100%;

  ul {
    margin: 0px auto;
    padding: 0px;
    max-width: 1024px;
    text-align: center;

    li {
      display: inline-block;
      width: 10%;
      height: 60px;
      line-height: 60px;

      &:last-child {
        display: none;
      }

      a {
        color: #ffffff;
        text-decoration: none;
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
        display: block;
        width: 100%;
        height: 100%;

        &:hover {
          color: #b3b3b3;
          transition: 0.3s;
        }
      }
    }
  }
}
