<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}
    {% include header.html %}
    {% include main.html %}
    {% include footer.html %}
  </body>
</html>
